/* @font-face {
    font-family: ClearFont;
    src: url(19190.ttf);
}

p {
    font-family: ClearFont;
    white-space: pre;
    align-self: left;
    color: white;
}

.left-pos {
    position: relative;
    float: right;
}

.line div div {
    font-family: ClearFont;
    white-space: pre !important;
    align-self: left;
    color: white;
    -moz-text-size-adjust: 2 !important;
    -webkit-text-size-adjust: 2 !important;
    -ms-text-size-adjust: 2 !important;
} */