*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  background-color: black;
  overflow-x: hidden;
}

@font-face {
  font-family: ClearFont;
  src: url(19190.ttf);
}

p{
  font-family: ClearFont;
  white-space: pre !important;
  align-self: left;
  color: white;
  -moz-text-size-adjust: 2.5 !important;
  -webkit-text-size-adjust: 2.5 !important;
  -ms-text-size-adjust: 2.5 !important;
  letter-spacing: 0.1em;
  /* width: 100vw !important; */
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  color: green;
}